@model _24DH112651_Be2.Models.Product

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2 class="bg-success">XOA SAN PHAM</h2>

<h4 class="alert-danger">Ban thuc su muon san pham nay a?</h4>
@Html.Partial("PVProductInfo", Model)
<div class="form-group">
<div class="col-md-ofset-3 col-md-9">
    @Html.ActionLink("Sua", "Edit", new { id = Model.CategoryID }, new { @class = "btn btn-primary btn-primary" })
    @Html.ActionLink("Quay lai danh sach", "Index", null, new { @class = "btn-primary btn-primary" })
</div>
</div>
